.info {
    margin-bottom: 20px;
    font-weight: 600;
}

.list {
    display: flex;
    gap: 20px;
}

.list li {
    display: flex;
    align-items: center;
    gap: 5px;
}

.description {
    font-weight: 600;
}